<!DOCTYPE html>
<html lang="ar" style="bottom: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css"> <!-- ربط ملف CSS -->
    <title>الصفحة الرئيسية</title> <!-- إضافة عنوان الصفحة -->
</head>
<body class="body">
    <header class="header">
        <nav class="header-menu">
            <div class="divnav"><a href="/templates/pages/index.html" class="titles">products</a></div>
            <div class="divnav"><a href="/templates/contactus.html" class="titles">contact us</a></div>
        </nav>
    <div class="divr">
        <div>
            <img src="/static/images/1730056083259.png" class="ss">
        </div>
        <div class="p">
            <p>SS designz</p>
        </div>
    </div>
    </header>
    <div>
        <div class="video">
            <video autoplay muted loop>
                <source src="/y2mate.com - 4K Organic Dust Particles On Black Background 2 Overlay_720p.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div>
            <img src="https://assets.adidas.com/images/w_940,f_auto,q_auto/7a2a67376ba348249358aef9010f4cf0_9366/HR6301_02_laydown.jpg" class="product">
        </div>
        <div>
            <p style="font-weight: bold;margin-top: 0%; margin-left: 3%;font-size: 18px;margin-bottom: 0; color: white;">price</p>
            <p style="color: rgb(88, 88, 88);margin-top: 0%; margin-left: 3%;font-size: 18px;margin-bottom: 0;">hada prix 9abl livraison</p>
            <p style="word-break: break-word;word-wrap: break-word;white-space: normal;color: white;margin-left: 20px;">discription discription discription discription discription discription discription discription discription discription discription discription discription discription </p>
        </div>
        <div>
            <table class="table">
                <tr>
                    <td>aaaaa</td>
                    <td>aaaa</td>
                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>aaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaaaaaa</td>
                </tr>
            </table>
        </div>
        <form id="myform">
        <div class="order">
            <p style="text-align: center;">order now</p>
            <input type="text" placeholder="enter your name" class="input">
            <input type="text" placeholder="enter your la9ab"class="input">
                <select id="wilaya" name="wilaya" class="select">
                <option value="" disabled selected hidden>Select your Wilaya</option>
                <option value="adrar">Adrar</option>
                <option value="chlef">Chlef</option>
                <option value="laghouat">Laghouat</option>
                <option value="oum_el_bouaghi">Oum El Bouaghi</option>
                <option value="batna">Batna</option>
                <option value="bejaia">Bejaia</option>
                <option value="biskra">Biskra</option>
                <option value="bechar">Bechar</option>
                <option value="blida">Blida</option>
                <option value="bouira">Bouira</option>
                <option value="tamanrasset">Tamanrasset</option>
                <option value="tebessa">Tébessa</option>
                <option value="tlemcen">Tlemcen</option>
                <option value="tiaret">Tiaret</option>
                <option value="tizi_ouzou">Tizi Ouzou</option>
                <option value="algiers">Algiers</option>
                <option value="djelfa">Djelfa</option>
                <option value="jijel">Jijel</option>
                <option value="setif">Sétif</option>
                <option value="saida">Saïda</option>
                <option value="skikda">Skikda</option>
                <option value="sidi_bel_abbes">Sidi Bel Abbès</option>
                <option value="annaba">Annaba</option>
                <option value="guelma">Guelma</option>
                <option value="constantine">Constantine</option>
                <option value="medea">Médéa</option>
                <option value="mostaganem">Mostaganem</option>
                <option value="msila">M'Sila</option>
                <option value="mascara">Mascara</option>
                <option value="ouargla">Ouargla</option>
                <option value="oran">Oran</option>
                <option value="el_bayadh">El Bayadh</option>
                <option value="illizi">Illizi</option>
                <option value="bordj_bou_arreridj">Bordj Bou Arréridj</option>
                <option value="boumerdes">Boumerdès</option>
                <option value="el_tarf">El Tarf</option>
                <option value="tindouf">Tindouf</option>
                <option value="tissemsilt">Tissemsilt</option>
                <option value="el_oued">El Oued</option>
                <option value="khenchela">Khenchela</option>
                <option value="soukahras">Souk Ahras</option>
                <option value="tipaza">Tipaza</option>
                <option value="mila">Mila</option>
                <option value="ain_defla">Aïn Defla</option>
                <option value="naama">Naâma</option>
                <option value="ain_temouchent">Aïn Témouchent</option>
                <option value="ghardaia">Ghardaïa</option>
                <option value="relizane">Relizane</option>
                </select>
            <select id="desk" name="desk or a domicile" class="select">
                <option value="" disabled selected hidden>desk or a domicile</option>
                <option value="desk">desk</option>
                <option value="domicile">domicile</option>
            </select>
                <input type="text" placeholder="a9reb mekteb lik"class="input">
                <input type="text" placeholder="numero"class="input">
                <div class="options">
                    <label>
                        <input type="radio" name="choice" value="option1"> 1 piece
                    </label>
                    <label>
                        <input type="radio" name="choice" value="option2"> 2 pieces 15% promo
                    </label>
                    <label>
                        <input type="radio" name="choice" value="option2"> 2 pieces 15% promo
                    </label>
                 </div>
                 <button class="valid">valid order</button>
        </div>
        </form>
    </div>
    </main>
    <div class="buttomdiv">     <!-- buttom page -->
        <div class="logo-name">
            <img src="/static/images/1730056083259.png" class="bottompng">
            <div><p class="p-bo">SS designz</p></div>
        </div>
        <div class="p-bo">
            <p class="costum" style="color: grey;">costomer support:</p>
            <p class="costum">0562 11 56 19</p>
            <p class="costum">0540 43 24 58</p>
            <p class="costum">ssdesignz2005@gmail.com</p>
        </div>
        <div class="catigories">
            <div>
                <p class="p-bottom">arcs</p>
            </div>
            <div class="cat2">
                <div style="text-align: center;">
                    <a href="/templates/pages/sprint.html" class="arcslinks"><p class="p-bottom">sprint</p></a>
                    <a href="/templates/pages/autom.html" class="arcslinks"><p class="p-bottom">atomme</p></a>
                </div>
                <div style="text-align: center;">
                    <a href="/templates/pages/summer.html" class="arcslinks"><p class="p-bottom">summer</p></a>
                    <a href="/templates/pages/winter.html" class="arcslinks"><p class="p-bottom">winter</p></a>
                </div>
            </div>    
        </div>
        <div>
            <div>
                <p style="color: white;text-align: center;margin-bottom: 20px;font-weight: bold;">social media</p>
            </div>
            <div class="socialdiv">
                <div class="socials">
                    <a href="https://www.instagram.com/ss._.designz?igsh=NWRoMzQwYjBtNWVi" class="sociallink"target="_blank">
                    <img src="/static/images/1730147894498.png" class="socialspng">
                    <div>
                        <p class="psocial">follow us on</p>
                        <p class="psocial"style="font-weight: bold;">instagram</p>
                    </div>
                    </a>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/share/HG5Zn4JySiPwtQTa/" class="sociallink"target="_blank">
                    <img src="/static/images/1730147894502.png" class="socialspng">
                    <div>
                        <p class="psocial">follow us on</p>
                        <p class="psocial" style="font-weight: bold;">facebook</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/index.js">
        window.onload=function(){
            document.getElementById("myform").reset();
        };
        const choices = document.querySelectorAll('input[name="choice"]');

    choices.forEach((choice) => {
        choice.addEventListener('click', () => {
            choices.forEach((otherChoice) => {
                if (otherChoice !== choice) {
                    otherChoice.checked = false;
                }
            });
        });
    });
    
    </script> <!-- ربط ملف JavaScript -->
</body>
</html>