<!DOCTYPE html>
<html lang="ar" style="bottom: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css"> <!-- ربط ملف CSS -->
    <title>الصفحة الرئيسية</title> <!-- إضافة عنوان الصفحة -->
</head>
<body class="body">
    <header class="header">
        <nav class="header-menu">
            <div class="divnav"><a href="/templates/pages/index.html" class="titles">products</a></div>
            <div class="divnav"><a href="/templates/contactus.html" class="titles">contact us</a></div>
        </nav>
    <div class="divr">
        <div>
            <img src="/static/images/1730056083259.png" class="ss">
        </div>
        <div class="p">
            <p>SS designz</p>
        </div>
    </div>
    </header>
    <h1 class="ha">contact us</h1>
    </main>
    <div class="buttomdiv">     <!-- buttom page -->
        <div class="logo-name">
            <img src="/static/images/1730056083259.png" class="bottompng">
            <div><p class="p-bo">SS designz</p></div>
        </div>
        <div class="p-bo">
            <p class="costum" style="color: grey;">costomer support:</p>
            <p class="costum">0562 11 56 19</p>
            <p class="costum">0540 43 24 58</p>
            <p class="costum">ssdesignz2005@gmail.com</p>
        </div>
        <div class="catigories">
            <div>
                <p class="p-bottom">arcs</p>
            </div>
            <div class="cat2">
                <div style="text-align: center;">
                    <a href="/templates/pages/sprint.html" class="arcslinks"><p class="p-bottom">sprint</p></a>
                    <a href="/templates/pages/autom.html" class="arcslinks"><p class="p-bottom">atomme</p></a>
                </div>
                <div style="text-align: center;">
                    <a href="/templates/pages/summer.html" class="arcslinks"><p class="p-bottom">summer</p></a>
                    <a href="/templates/pages/winter.html" class="arcslinks"><p class="p-bottom">winter</p></a>
                </div>
            </div>    
        </div>
        <div>
            <div>
                <p style="color: white;text-align: center;margin-bottom: 20px;font-weight: bold;">social media</p>
            </div>
            <div class="socialdiv">
                <div class="socials">
                    <a href="https://www.instagram.com/ss._.designz?igsh=NWRoMzQwYjBtNWVi" class="sociallink"target="_blank">
                    <img src="/static/images/1730147894498.png" class="socialspng">
                    <div>
                        <p class="psocial">follow us on</p>
                        <p class="psocial"style="font-weight: bold;">instagram</p>
                    </div>
                    </a>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/share/HG5Zn4JySiPwtQTa/" class="sociallink"target="_blank">
                    <img src="/static/images/1730147894502.png" class="socialspng">
                    <div>
                        <p class="psocial">follow us on</p>
                        <p class="psocial" style="font-weight: bold;">facebook</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script> <!-- ربط ملف JavaScript -->
</body>
</html>